<p id="notice"><%= notice %></p>

<h1>Results for course search</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Course name</th>
      <th>Brandeis ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result.id %></td>
        <td><%= result.name %></td>
        <td><%= result.brandeis_code %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
