<div>
  <h3>What would you like to do?</h3>
  <body class="container">
  	<div class="jumbotron">
		 <p> Browse <a <%= link_to 'instructors', 'instructors/index' %></a>. </p>
		 <p> Browse <a <%= link_to 'subjects', 'subjects/index' %></a>. </p>
		 <p> Browse <a <%= link_to 'courses', 'courses/index' %></a>. </p>
 	 </div>
  </body>
</div>
