<div>
  <h3>What would you like to do?</h3>
  <body class="container">
  	<div class="jumbotron">
		 <p> Browse <u><a <%= link_to 'instructors', 'instructors/index' %></a></u> </p>
		 <p> Browse <u><a <%= link_to 'subjects', 'subjects/index' %></a></u> </p>
		 <p> Browse <u><a <%= link_to 'courses', 'courses/index' %></a></u> </p>
		 <p> Search <u><a <%= link_to 'courses', 'courses/search' %></a></u> </p>
 	 </div>
  </body>
</div>
