<footer class="footer">
  <small>
   Brandeis University Course Catalog - Rails App for COSI166b - Made By Samuel Akerman Spring 2-17
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
